<%- include('partials/head.ejs', {
    isLoggedIn: isLoggedIn, 
    permisos: permisos, 
    usuario: usuario, 
    establecimientos: establecimientos, 
    id_Establecimiento: id_Establecimiento 
}) %>

<br>
<br>

<div class='container'>
    <br>
    <h1 id="colortextoazul" class="title title-large has-text-centered">Modificar Información del Usuario</h1>
</div>

<br>

<!-- Formulario para editar Usuario -->
<div>
    <form method="POST" action="<%= process.env.PATH_SERVER %>usuario/modificar">
        <div class="box mx-6">
            <article class="message">
                <div class="message-header" id="colorarticulo">
                    <p>Nombre</p>
                </div>
                <div class="message-body">
                    <input class="input" type="text" name="Nombre" value="<%= usuario.Nombre %>" placeholder="Ingresa tu nombre" style="width: 100%;" required>
                </div>
            </article>
        </div>

        <div class="box mx-6">
            <article class="message">
                <div class="message-header" id="colorarticulo">
                    <p>Apellido</p>
                </div>
                <div class="message-body">
                    <input class="input" type="text" name="Apellido" value="<%= usuario.Apellido %>" placeholder="Ingresa tu apellido" style="width: 100%;" required>
                </div>
            </article>
        </div>

        <div class="box mx-6">
            <article class="message">
                <div class="message-header" id="colorarticulo">
                    <p>Teléfono</p>
                </div>
                <div class="message-body">
                    <input class="input" type="tel" name="Telefono" value="<%= usuario.Telefono %>" placeholder="Ingresa tu teléfono" style="width: 100%;" required>
                </div>
            </article>
        </div>

        <% if (usuario.id_Rol === 1 || usuario.id_Rol === 2) { %>
            <div class="box mx-6">
                <article class="message">
                    <div class="message-header" id="colorarticulo">
                        <p>Rol</p>
                    </div>
                    <div class="message-body">
                        <select class="input" name="id_Rol" required>
                            <option value="1" <% if (usuario.id_Rol === 1) { %> selected <% } %>>Administrador</option>
                            <option value="2" <% if (usuario.id_Rol === 2) { %> selected <% } %>>Gerente</option>
                            <option value="3" <% if (usuario.id_Rol === 3) { %> selected <% } %>>Tendero</option>
                            <option value="4" <% if (usuario.id_Rol === 4) { %> selected <% } %>>Cliente</option>
                        </select>
                    </div>
                </article>
            </div>
        <% } %>

        <input type="hidden" name="id_Usuario" value="<%= usuario.id_Usuario %>">
        <div class="has-text-centered">
            <button type="submit" class="button" id="login-button">Guardar</button>
        </div>
    </form>
</div>

<script>
function toggleEditForm(type) {
    const form = document.getElementById('editUsuarioForm');
    form.style.display = form.style.display === 'none' ? 'block' : 'none';
}
</script>