<%- include('partials/head.ejs', {
    establecimientos: establecimientos,
    id_Establecimiento: id_Establecimiento,
    }) %>
    <br>
    <br>
<div class='container'>
    <br>
    <h1 id="colortextoazul" class="title title-large has-text-centered">Mi informacion</h1>
</div>

<br>

<div>
    <div class="box mx-6">
    <article class="message">
        <div class="message-header" id="colorarticulo"><p>Nombre</p>
        </div>
        <div class="message-body">
            <% if (usuario) { %>
                <%= usuario.Nombre %> <%= usuario.Apellido %>
            <% } else { %>
                <p>No se encontró información del usuario.</p>
            <% } %>
            <img class="button cambio-cursor" src="<%= process.env.PATH_SERVER %>Images/lapiz.png" alt="Editar" id="editNombre" style="float: right; width: 20px; height: 20px;">
        </div>
    </article>
    <br>
    <article class="message">
        <div class="message-header" id="colorarticulo"><p>Teléfono</p>
        </div>
        <div class="message-body">
            <% if (usuario) { %>
                <%= usuario.Telefono %>
            <% } else { %>
                <p>No se encontró información del usuario.</p>
            <% } %>
            <img class="cambio-cursor" src="<%= process.env.PATH_SERVER %>Images/lapiz.png" alt="Editar" style="float: right; width: 20px; height: 20px;">
        </div>
    </article>
    <br>
    <article class="message">
        <div class="message-header" id="colorarticulo">
            Establecimiento
        </div>
        <div class="message-body">
             Chilako Queretaro Benito Juarez #127
             <img class="cambio-cursor" src="<%= process.env.PATH_SERVER %>Images/lapiz.png" alt="Editar" style="float: right; width: 20px; height: 20px;">
        </div>
    </article>
    <article class="message">
        <div class="message-header" id="colorarticulo">
            Género
        </div>
        
        <div class="message-body">
            Hombre
            <img class="cambio-cursor" src="<%= process.env.PATH_SERVER %>Images/lapiz.png" alt="Editar" style="float: right; width: 20px; height: 20px;">
        </div>
    </div>
    </article>
</div>