<%- include('partials/head.ejs') %>
    <br>

    <h1 class="title title-large" style="margin-left: 10%;">Mis Clientes</h1>
    <% if (notification) { %>
        <div class="notification is-<%= type %>">
          <%= notification %>
        </div>
      <% } %>
    <button class="button is-primary is-rounded" style="margin-left: 10%;">Registrar Cliente</button>

    <br><br>

    <form action="/clientes/buscar" method="get" style="margin-left: 10%; margin-right: 10%;">
        <div class="field iconosearchbar has-addons">
            <div class="control is-expanded">
                <input class="input" type="text" placeholder="Tel. Cliente" name="SearchTarjeta" id="SearchTarjeta">
            </div>
            <div class="control">
                <button class="button is-primary">
                    <img src="https://icones.pro/wp-content/uploads/2021/06/icone-loupe-gris.png" alt="lupa"
                        style="width: 20px; height: 20px;">
                </button>
            </div>
        </div>
    </form>

    <br><br>


    <% if (Clientes) { %>
        <div class="box" style="margin-left: 10%; margin-right: 10%;">
            <div class="column is-vcentered">

                <div class="column is-half">
                    <h2 class="is-size-4 has-text-weight-bold">Información:</h2>

                    <p class="subtitle is-size-5"><strong>Fecha de Nacimiento:</strong>
                        <%= Clientes.fecha_Nacimiento %>
                    </p>
                    <p class="subtitle is-size-5"><strong>Genero:</strong>
                        <%= Clientes.Genero %>
                    </p>
                    <p class="subtitle is-size-5"><strong>Entidad:</strong>
                        <%= Clientes.Entidad %>
                    </p>
                    <% if (typeof sellos !== 'undefined' && sellos !== null) { %>
                        <p class="subtitle is-size-5"><strong>Sellos:</strong> <%= sellos %></p>
                    <% } else { %>
                        <p class="subtitle is-size-5"><strong>Sellos:</strong> No hay sellos registrados</p>
                    <% } %>
                    
                    <form action="/sello/registrar" method="post">
                        <input type="hidden" name="telefono" value="<%= Clientes.Telefono %>">
                        <button class="button is-primary has-text-centered is-rounded">Registrar sello</button>
                    </form>
                </div>

                <div class="column is-half">
                    <figure class="image">
                        <!-- Aquí va la imagen de la tarjeta -->
                    </figure>
                </div>
            </div>
        </div>
        <% } else { %>
            <p>No se encontraron clientes.</p>
            <% } %>