<%- include('partials/head.ejs', {
    establecimientos: establecimientos,
    id_Establecimiento: id_Establecimiento,
    }) %>
    <br>

    <h1 class="title title-large" style="margin-left: 10%;">Mis Clientes</h1>
    <% if (notification) { %>
        <div class="notification is-<%= type %>">
          <%= notification %>
        </div>
      <% } %>
    <% if (typeof notificationOrder !== 'undefined') { %>
        <div class="notification is-<%= type %>">
          <%= notificationOrder %>
        </div>
    <% } %>
      

    <button class="button is-primary is-rounded" style="margin-left: 10%;" onclick="window.location.href='<%= process.env.PATH_SERVER %>registro';">Registrar Cliente</button>

    <br><br>

    <form action="<%= process.env.PATH_SERVER %>clientes/buscar" method="get" style="margin-left: 10%; margin-right: 10%;">
        <div class="field iconosearchbar has-addons">
            <div class="control is-expanded">
                <input class="input" type="text" placeholder="Tel. Cliente" name="SearchTarjeta" id="SearchTarjeta">
            </div>
            <div class="control">
                <button class="button is-primary">
                    <img src="https://icones.pro/wp-content/uploads/2021/06/icone-loupe-gris.png" alt="lupa"
                        style="width: 20px; height: 20px;">
                </button>
            </div>
        </div>
    </form>

    <br><br>


    <% if (Clientes) { %>
        <div class="box" style="margin-left: 10%; margin-right: 10%;">
            <div class="column is-vcentered">

                <div class="column is-half">
                    <h2 class="is-size-4 has-text-weight-bold">Información:</h2>
                    <br>
                    <p class="subtitle is-size-5"><strong>Nombre:</strong>
                        <%= Clientes.Nombre %> <%= Clientes.Apellido %>
                    </p>
                    <% if (typeof sellos !== 'undefined' && sellos !== null) { %>
                        <p class="subtitle is-size-5"><strong>Sellos:</strong> <%= sellos %></p>
                    <% } else { %>
                        <p class="subtitle is-size-5"><strong>Sellos:</strong> No hay sellos registrados</p>
                    <% } %>
                    
                    <button class="button is-primary has-text-centered is-rounded" id="SelloPopup">Registrar sello</button>    
                    
                    <div class="modal" id="RegistrarSelloPopup">
                        <div class="modal-background"></div>
                        <div class="modal-content">
                            <div class="box">
                                <h1 class="title is-centered">Registrar Sello</h1>
                                <form action="/Orden/Registrar" method="post">
                                    <input  class="input" type="text" placeholder="Monto de compra" name="nivel_Satisfaccion" id="nivel_Satisfaccion">
                                    <br>
                                    <br>
                                    <input  class="input" type="text" placeholder="Nota adicional" name="Feedback" id="Feedback">
                                </form>
                                <br>
                                <br>
                                <form action="/sello/registrar" method="post">
                                    <input type="hidden" name="telefono" value="<%= Clientes.Telefono %>">
                                    <button class="button is-primary"> Registrar Sello </button>
                                </form>
                            </div>
                        </div>
                        <button class="modal-close is-large" aria-label="cerrar"></button>
                    </div>
                </div>

                <div class="column is-half">
                    <figure class="image">
                        <!-- Aquí va la imagen de la tarjeta -->
                    </figure>
                </div>
            </div>
        </div>
        <% } else { %>
            <p>No se encontraron clientes.</p>
            <% } %>
<script src="/js/RegistrarSelloPopupButton.js"></script>